body{
    background-color: #36384D;
    overflow: hidden;
    font-family: 'Roboto', sans-serif; 
}
.container {
    height: 75vh;
    width: 55%;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-top: 100px;
}
.card-1 {
    padding: 70px 0px 0px 30px;
}
.heading-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #242742;
}
.paragraph-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.key-text-1, .key-text-2, .key-text-3 {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}
.checkmark {
    padding-bottom: 5px;
}
.form-label {
    color: #242742;
    padding-bottom: -30px;
    font-weight: bold;
}
#errorNotification {
    color: red;
    float: right;
}
.form-control {
    padding: 15px 15px 15px 15px;
}
.btn-primary {
    background-color: #242742;
    padding: 10px 10px 10px 10px;
    border-color: #242742;
    /* width: 365px; */
    margin-top: 15px;
}